<!doctype html>

<%= partial "html" %>

  <head>
    <!-- Meta -->
    <%= partial "head/meta" %>

    <!-- Title -->
    <%= partial "head/title" %>

    <!-- Icons -->
    <%= partial "head/link" %>

    <!-- Stylesheets -->
    <%= partial "head/css" %>

    <!-- Javascripts -->
    <%= partial "head/js" %>
  </head>
  
  <body class="page <%= page_classes %>">

    <header class="header" role="banner">

      <%= partial "components/toggle--navigation" %>

      <%= partial "components/logo" %>

      <%= partial "components/toggle--search" %>

      <%= partial "components/search" %>

    </header>

    <%= partial "components/navigation--primary" %>

    <%= yield %>

    <footer class="footer">
    </footer>

    <%= partial "foot/js" %>

  </body>
</html>
