<!doctype html>

<%= partial "partials/html" %>

  <head>
    <!-- Meta -->
    <%= partial "partials/head/meta" %>

    <!-- Title -->
    <%= partial "partials/head/title" %>

    <!-- Icons -->
    <%= partial "partials/head/link" %>

    <!-- Stylesheets -->
    <%= partial "partials/head/css" %>

    <!-- Javascripts -->
    <%= partial "partials/head/js" %>
  </head>
  
  <body class="page <%= page_classes %>">

    <header class="header" role="banner">

      <%= partial "partials/components/toggle--navigation" %>

      <%= partial "partials/components/logo" %>

      <%= partial "partials/components/toggle--search" %>

      <%= partial "partials/components/search" %>

    </header>

    <%= partial "partials/components/navigation--primary" %>

    <%= yield %>

    <footer class="footer">
    </footer>

    <%= partial "partials/foot/js" %>

  </body>
</html>
